<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<div class="main">
			<div class="container">
				<h1><%= name %></h1>
				<h2><%= desc %></h2>
				<a href="/create">Add to Database</a>
			</div>
		</div>
	</body>
	<style>
		.main {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.container {
			text-align: center;

			background-color: antiquewhite;
			width: 20%;
			height: 50vh;
		}
	</style>
</html>
