<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/css/dashboard.css">
  <link rel="stylesheet" href="style/css/navbar.css">

  <title>Document</title>
</head>

<body>
  <nav>
    <h1 style="font: 25px Courier New, sans-serif; color: white;">fend.rocks</h1>
    <ul>
      <li class="active">home</li>
      <li><a href="/submit">submit an idea</a></li>
      <li><a href="/admin">admin</a></li>
    </ul>
  </nav>
  <div class="main">
    <div class="container">
      <% if (exists) { %>
        <h1 id="title">
          <%= title%>
        </h1>

        <h2 id="difficulty">
          difficulty : <%= difficulty%>
        </h2>
        <h2 id="author">author : <%= author%>
        </h2>
        <% } %>

    </div>
  </div>
</body>

</html>