<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/css/dashboard.css">
  <link rel="stylesheet" href="style/css/navbar.css">
  <link rel="stylesheet" href="style/css/mobile/navbar.css">

  <title>Document</title>
</head>

<body <% if( items.length >= 2){ %> onload="changeProject()"<% } %>  >
  <nav>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1 style="font: 25px Courier New, sans-serif; color: white;">fend.rocks</h1>
    <ul>
      <li class="active">home</li>
      <li><a href="/submit">submit an idea</a></li>
      <li><a href="/admin">admin</a></li>
    </ul>
  </nav>
  <h1>

  </h1>
  <div class="main">
    <div class="container">
      <h1 id="title">
        No projects Exist :(
      </h1>
      <% if (exists) { %>

        <h2 id="difficulty">
          difficulty : 
        </h2>
        <h2 id="author">author : 
        </h2>
        <% } %>

    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<% if( items.length >= 2){ %> 
  <script>
    document.body.onkeyup = function (e) {
      if (e.keyCode == 32) {
        changeProject()
      }
    }
    let i = 0
    const list = JSON.parse('<%- JSON.stringify(items) %>')

    function changeProject() {
      if (i >= list.length) window.location.reload();
      $("#title").text(`${list[i]["title"]}`)
      $("#difficulty").text(`difficulty : ${list[i]["difficulty"]}`)
      $("#author").text(`author : ${list[i]["user"]}`)
      i += 1
    }

  </script>
<% }%> 

</html>