@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.container img {
  position: relative;
  bottom: 20%;
  filter: brightness(0.6);
}

.data {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.data .text {
  color: white;
}
.data .title {
  font-size: 30px;
  padding-bottom: 4%;
}
.data .user {
  padding-bottom: 3%;
}
.button {
  width: 7%;
  height: 5%;
  background-color: #adcce9;
  border: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.noneExist {
  width: 10%;
  transition: 0.2s linear all;
}
/* 
hover stuff
*/
.button:hover {
  background-color: #63a9eb;
  color: white;
  transition: 0.2s ease all;
}
